{% extends 'base.html.twig' %}
{% block title %}app_index!{% endblock %}
{% block body %}

    <div class="container">
        <h1>Bienvenue sur {{ welcome }} !</h1>
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
{% endblock %}